.page {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.content-page {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 1.25rem;
}